Package: com.heaven.gd120hz
Name: gd120hz
Version: 1.0.0
Architecture: iphoneos-arm
Description: This tweak makes the game Geometry Dash run at 120hz
Maintainer: heaven
Author: heaven
Section: Tweaks
